<div class="chat">
  <div class="chat-title">
    <h1>A Khuoch</h1>
    <h2>Ask Me Anything</h2>
    <figure class="avatar">
      <%= image_tag "framgia.png" %>
    </figure>
  </div>
  <div class="messages">
    <div class="messages-content"></div>
  </div>
  <div class="message-box">
    <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
    <button type="submit" class="message-submit">Send</button>
  </div>
</div>
<div class="bg"></div>
